/* Start CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	--black: #1C1C1C;
	--white: #FFFFFF;
	--gray-20: #9E9E9E;
	--gray-10: #DFDFDF;
	--gray-00: #F0F0F0;

	--gradient-primary: linear-gradient(180deg, #5A84C0 0%, #594ED2 100%);

	--box-shadow-01: 0px 1px 2px rgba(0, 0, 0, 0.2);
	--box-shadow-02: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--gray-00);
	color: var(--black);
}

h1 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

h2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

h3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}
